/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require bootstrap-toggle
 */

 @import "bootstrap";
 @import "trips";
 @import "flights";
 @import "expenses";

 body {
 	//background-color: #F6FFF8;

 	 h1 {
	 	font-family: 'Chelsea Market', cursive;
	 	font-size: 70px;
	 	text-align: center;
	 	margin: 50px;
	 	border-bottom: 3px solid #EBE9E9;
	 	padding-bottom: 15px;
	 }
 }



 #to {
 	text-align: center;
 }


 img.icons {
 	width:30px;
  height:30px;
 }

 img.icons-trips {
 	width:60px;
  height:60px;
 }

 .iconHeader-container {
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;

 	#exit {
 		margin-left: 10px;
 	}
 }

 a {
 	color: black;
 	text-decoration:none;
 }

 a:active {
 	text-decoration: none;
 	color: inherit;
 }

.links {
	a {
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 900px;
		font-size: 27px;
	 }
}
 .buttons {
 	border-radius: 10px;
 	background-color: #684551;
 	border: none;
 	color: #EBE9E9;
 	font-family: 'Smythe', cursive;
 	font-size: 25px;
 	font-weight: 900;
 	padding: 5px 15px;
 }

 label {
 	font-family: 'PT Sans Narrow', sans-serif;
 	font-size: 30px;
 	font-weight: 900;
 }

 input[type="text"], input[type="date"], input[type="time"], input[type="email"], input[type="password"], #selectInput {
 	font-family: 'PT Sans Narrow', sans-serif;
 	font-weight: 900;
 	font-size: 20px;
}

.toggle.btn.btn-success, .toggle.btn.btn-danger {
	margin-top: 30px;

	label {
		font-size: 20px;
	}
}


.addAlert {
	h2 {
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 900;
		font-size: 40px;
		text-align: center;
	}
}

#deviseButton {
	font-size: 35px;
	padding: 0 25px;
	margin-bottom: 10px;
}

#resetPassword {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 900;
	font-size: 25px;
	margin-bottom: 20px;
}

a.todoHead {
	color: white;
}

h3 {
	a {
		color: red;
	}
}
 @media only screen and (max-width: 600px) {
  h1 {
    // color: blue;
  }

}