// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#paidCheck {
	margin-top: 40px;
}

h4 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 900;
	font-size: 45px;
}

th {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 900;
	font-size: 26px;
}

td {
	font-family: 'Pompiere', cursive;
	font-weight: 900;
	font-size: 22px;
}

#expenses {
	h6 {
	 	font-family: 'Pompiere', cursive;
	 	font-weight: 900;
	 	font-size: 30px;
	 	text-align: right;
	 	margin: 5px;
	 }

	h5 {
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 30px;
		font-weight: 900;
		text-align: right;
		margin: 5px;
	}

}


 #expenseList {
 	margin-left: -85px;
 }