// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
// border: 1px solid red;
}

.destination-container {
	display: flex;
	flex-direction: row;

	h2 {
		color: black;
		font-family: 'Pompiere', cursive;
		font-weight: 900;
		font-size: 35px;
	}

	h2, img {
		margin-right: 20px;
	}
}

.airline-container h4 {
	margin-left: 15px;
	font-family: 'Pompiere', cursive;
	font-weight: 900;
	font-size: 35px;
}

.flightDetails-container, .numberDetails-container {
	h2 {
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 45px;
		font-weight: 900;
		border-bottom: 2px solid #EBE9E9;
		margin-bottom: 15px;
	}

	h3 {
		font-family: 'Pompiere', cursive;
		font-size: 40px;
		font-weight: 900;
	}

	h4 {
		font-family: 'Pompiere', cursive;
		font-size: 33px;
		font-weight: 900;
	}

	h5 {
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 25px;
		font-weight: 700;
	}
}

.details-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 3px solid #CEA0AE;
	border-radius: 20px;
}

.departure-container {
	margin-bottom: 35px;
}

.date-container, .time-container, .numbers-container {
	margin: 20px;
}

#addflight {
	margin-bottom: 20px;
}

img#addflight.icons-trips {
	width: 70px;
	height: 70px;
}

#accordionExample {
	button.btn.btn-link {
		text-decoration: none;
	}
	.iconHeader-container {
		img.icons {
			margin: 0 -10px 0 18px;
		}
	}
}

.card-header {
	background-color: #CEA0AE;
}

.card-body {
//	background-color: #EBE9E9;
}